<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8" />
  <title>Dashboard - Detector de Rostros LBP y SIFT</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
</head>
<body>
  <header>
    <img class="logo" src="{{ url_for('static', filename='Header.webp') }}" alt="Logo del proyecto">
    <br>
    <div class="header-title">
      <h1>Detector de Rostros basado en Local Binary Patterns (LBP)</h1>
    </div>
    <p class="description">
      Aplicación web que anonimiza de manera segura los rostros detectados capturados desde el servidor móvil, asegurando la protección y privacidad de las personas.
    </p>
    <div class="results">Streaming LBP</div>
      <div class="stats">
    <p>FPS: <span id="fps">0</span></p>
    <p>Memoria: <span id="mem">0</span> MB</p>
    </div>
  </header>

  <main>
    <img id="out" class="stream" alt="Frames capturados en vivo (LBP)" />
  </main>

  <section>
    <h2>Detección de objetos usando la técnica Scale-Invariant Feature Transform (SIFT)</h2>
    <p>
      En esta sección se detectarán objetos utilizando la técnica SIFT, que analizará las imágenes capturadas en tiempo real para identificar y localizar los objetos seleccionados.
    </p>
    <div class="results">Streaming SIFT</div>
    <div class="results">Streaming LBP</div>
      <div class="stats">
    <p>FPS: <span id="fps">0</span></p>
    <p>Memoria: <span id="mem">0</span> MB</p>
    </div>
  </section>
  

  <main>
    <img id="out-sift" class="stream" alt="Frames capturados en vivo (SIFT)" />
  </main>

  <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
  <script>
    const socket = io();
    const outLBP = document.getElementById('out');
    const outSIFT = document.getElementById('out-sift');

    // LBP por WebSocket
    socket.on('processed_frame', data => {
      outLBP.src = data.image;
    });

    // SIFT por WebSocket
    socket.on('sift_frame', data => {
      outSIFT.src = data.image;
    });

     // Estadísticas: FPS y uso de memoria
  socket.on('stats', data => {
    document.getElementById('fps').textContent = data.fps;
    document.getElementById('mem').textContent = data.mem;
  });
  </script>
</body>
</html>
